<footer>
    <div class="footer_wrapper">

        <div class="footer_column">
            <h2 class="column_title">Redes Sociais</h2>

            <div class="column_items">
                <a href="https://github.com/YgorPereira" target="_blank"><i class="fab fa-github"></i>GitHub |
                    YgorPereira</a>
                <a href="https://github.com/YgorPereira" target="_blank"><i class="fab fa-instagram"></i>Instagram |
                    @ygorrpereira</a>
                <a href="https://www.linkedin.com/in/ygorrpereira/" target="_blank"><i
                        class="fab fa-linkedin"></i>Linkedin | Ygor Pereira</a>
            </div>
        </div>

        <div class="footer_column">
            <h2 class="column_title">Contatos</h2>

            <div class="column_items">
                <a href="https://github.com/YgorPereira" target="_blank"><i class="fas fa-envelope"></i>Email |
                    ygorrp25@gmail.com</a>
                <a href="https://github.com/YgorPereira" target="_blank"><i class="fab fa-instagram"></i>Telefone |
                    +55(12)99651-5989</a>
            </div>

        </div>

        <div class="footer_column">
            <h2 class="column_title">Sobre</h2>

            <div class="column_items">

            </div>
        </div>

    </div>
</footer>