<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/colors.css">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

    <%-include('partials/navbar')%>

        <main>
            <div class="main_apresentation">
                <div class="introducion_text">
                    <h1>Hello, World! <br> Eu sou o Ygor Pereira!</h1>
                    <p>Sou desenvolvedor de software e estudante de Análise e Desenvolvimento de Sistemas, com uma forte
                        paixão por tecnologia e inovação. Gosto de me manter atualizado, aprendendo novas tecnologias e
                        enfrentando desafios que me permitem criar soluções inteligentes e inovadoras, sempre focadas em
                        oferecer uma ótima experiência ao usuário e atender às necessidades dos clientes.
                    </p>
                </div>
                <div class="profile_picture">
                    <img src="/img/profile-pic.jpg" alt="">
                </div>
            </div>

            <div class="tools_languages">

                <h2> Habilidades</h2>
                
                <div class="icons_row">
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/html5/E3D095" width="50">
                        <p>HTML5</p>
                    </div>

                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/css/E3D095" width="50">
                        <p>CSS</p>
                    </div>

                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/javascript/E3D095" width="50">
                        <p>JavaScript</p>
                    </div>

                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/typescript/E3D095" width="50">
                        <p>TypeScript</p>
                    </div>

                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/python/E3D095" width="50">
                        <p>Python</p>
                    </div>

                    <div class="icon">
                        <i class="fa-brands fa-java"></i>
                        <p>Java</p>
                    </div>
                </div>
                <div class="icons_row">
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/nodedotjs/E3D095" width="50">
                        <p>Node</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/react/E3D095" width="50">
                        <p>React</p>
                    </div>

                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/django/E3D095" width="50">
                        <p>Django</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/flask/E3D095" width="50">
                        <p>Flask</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/opencv/E3D095" width="50">
                        <p>OpenCV</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/apachemaven/E3D095" width="50">
                        <p>Maven</p>
                    </div>
                </div>

                <div class="icons_row">
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/postgresql/E3D095" width="50" alt="PostgreSQL">
                        <p>PostgreSQL</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/mysql/E3D095" width="50" alt="MySQL">
                        <p>MySQL</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/postman/E3D095" width="50" alt="Postman">
                        <p>Postman</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/linux/E3D095" width="50" alt="AWS">
                        <p>Linux</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/git/E3D095" width="50" alt="Git">
                        <p>Git</p>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.simpleicons.org/github/E3D095" width="50" alt="GitHub">
                        <p>GitHub</p>
                    </div>

                </div>
            </div>
        </main>

        <%-include('partials/footer')%>
</body>

</html>