<nav>
    <div class="nav_wrapper">
        <a href="/" id="nav_title">Portfólio Ygor Pereira</a>

        <div class="nav_items">
            <a href="/projects" class="nav_item">Projetos <i class="fas fa-bars-progress"></i> </a>
            <a href="/certificates" class="nav_item">Certificados <i class="fas fa-award"></i> </a>
        </div>

    </div>
</nav>