nav {
    background-color: var(--primary-color);
    max-width: 100%;
    max-height: 10rem;
}

.nav_wrapper {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
}

.nav_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: 2rem;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative; /* Necessário para a linha animada */
    transition: transform 0.3s ease; /* Transição suave para a escala */
}

.nav_item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

/* Efeito ao passar o mouse */
.nav_item:hover::after {
    width: 100%; 
}

.nav_item:hover {
    transform: scale(1.1);
}